<app-header></app-header>
<div class="container-fluid">

    <div class="row text-center mb-3 mt-5">
        <div class="col text-center">
                <img [src]="img" class="img-container" alt="">
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 col-sm-3 d-flex align-items-center  justify-content-end">
        <div class="text-container mt-3"  [routerLink]="['/guide-information']"  (click)="redirGuidesInformation()">
          <img style="cursor: pointer;" src="assets/images/background/consultar-guias.png" class="img-box" alt="First Image">
          <p class="pt-4">
             Revisa aquí los riesgos que la actividad puede generar 
             <strong>
                al ambiente y a la comunidad.
             </strong>          </p>
        </div>
      </div>
      <div class="col-12 col-md-3 col-sm-3 d-flex align-items-center  justify-content-start">
        <div class="text-container mt-3"  [routerLink]="['/sensibility-analysis']" (click)="redirAnalysis()">
          <img style="cursor: pointer;" src="assets/images/background/sensibilidad-territorial.png" class="img-box" alt="First Image">
          <p class="pt-4">
            Revisa aquí los riesgos que genera el entorno 
            <strong>
                a la actividad en función de su ubicación.
            </strong>
          </p>
        </div>
      </div>
    </div>
   
  </div>
<!-- <div class="container-fluid">
    <div class="row text-center mb-3 mt-5">
        <div class="col text-center">
                <img [src]="img" class="img-container" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 order-md-2 order-1 p-4 align-items-center d-flex">
            <img class="img-option modules"  src="assets/images/background/consultar-guias.png" alt="">
        </div>

        <div class="col-md-6 order-md-2 order-1 p-4 align-items-center d-flex">
            
        </div>
    </div>
    <div class="row">
         <div class="col-md-6 order-md-2 order-1 p-4 align-items-center d-flex">
            <p class="text-justify">
                En esta sección podrá determinar el riesgo territorial en función de la ubicación exacta o aproximada. El análisis se hace sobre los mapas oficiales con que cuenta el país.
            </p>
        </div>
    </div> -->
        <!-- <div class="row mb-3 text-center justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-6 text-justify text-center" [routerLink]="['/guide-information']"  (click)="redirGuidesInformation()" >
                
            </div>
            <div class="col-12 col-md-6 col-lg-6 text-justify text-center modules" [routerLink]="['/sensibility-analysis']" (click)="redirAnalysis()">
                <img  class="img-option modules" src="assets/images/background/sensibilidad-territorial.png" alt="">
                <p class="text-justify">
                    En este apartado se podrán consultar los riesgos ambientales, laborales y sociales de las actividades de las guías sectoriales. También se podrán descargar las guías, requisitos legales y planes de acción sugeridos.
                </p>
            </div>
        </div> -->

    <!-- <div class="row mb-5 text-center modules">
        <div class="col-12">
            <button [routerLink]="['/']" class="btn btn-md app-btn-primary w-50 theme-btn mx-auto" id="btn-login" name="btn-login"
                    >Salir</button>
        </div>
    </div> -->

<!-- </div> -->
<app-footer></app-footer>