.main{
    margin-top: 5rem;
}
.modules{
    cursor: pointer;
}

.main-container {
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
}

.card{
    border: solid 1px #315191;
}
.main-image{
    Width: 100%;
    border-radius: 10px;
    height: 209px;
}

.img-option{
    width: 300px;
}
.logo-aso-guias{
    width: 35%;
}

.img-container {
    width: 80%;
    max-width: 635px; /* Adjust the max-width as needed */
    height: auto;
  }

.img-box{
    max-width: 100%;
    height: auto;
}
  .custom-text {
    text-align: center;
  }
  .text-container {
    padding: 15px;
    /* background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px; */
    text-align: center;
    height: 100%;
  }

  