.main{
    margin-top: 5rem;
}
.fix-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    max-width: 340px;
    cursor: pointer;
    width: 108%;
}
.card{
    border: solid 1px #315191;
}
.theme-btn{
    width: 30% !important;
}
.w-70{
    width: 70% !important;
}