<app-header></app-header>
<div class="container main">
    <div>
        <div class="row text-center">
            <div class="col">
                <h4>
                    <strong class=" color-primary">
                        Seleccionar Guía Sectorial
                    </strong>
                </h4>
            </div>
        </div>
        <div class="row pt-4 text-center justify-content-center align-items-center">
            <div class="col-12 col-lg-12 col-sm-12">
                <select (change)="guideSelectChange($event)" #selectElement class="form-select w-70"></select>
            </div>
        </div>
        <div class="row mt-3 justify-content-center align-items-center text-center">
            <div class="col-12 col-lg-12 col-sm-12">
                <button *ngIf="!showSppinerGuideDownload" type="submit" (click)="downloadGuide()"
                    class="btn btn-md app-btn-primary mx-auto" id="btn-login" name="btn-login">Descargar guía</button>
                <div *ngIf="showSppinerGuideDownload" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <ng-container *ngFor="let guide of guides">
                <div class="col-6 col-lg-4 col-md-4 mb-2 fix-img" (click)="redirGuide(guide)">
                    <img [src]="guide.image" class="img" alt="guide image">
                </div>
            </ng-container>
        </div>
    </div>
</div>
<app-footer></app-footer>