<!-- Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title color-primary" id="exampleModalLabel">Actualizar datos de usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formUpdateData">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombres</label>
                        <input type="text"  mask="L*" [patterns]="generalNumber" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Apellidos</label>
                        <input type="text" mask="L*" [patterns]="generalNumber" formControlName="lastName" class="form-control" id="lastname" aria-describedby="emailHelp">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="email" class="form-label">Celular</label>
                        <input type="text" maxlength="10" mask="S*" [patterns]="generalNumber" formControlName="phoneNumber" class="form-control" id="phoneNumber" aria-describedby="phoneNumber">
                    </div>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" >
          <div class="row">
            <div class="col">
              <button (click)="updateUser()" type="button" *ngIf="showFooter" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" >Actualizar</button>
              <div class="spinner-border" role="status" *ngIf="!showFooter">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div class="col">
              <button data-bs-dismiss="modal" type="button" *ngIf="showFooter" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto">Cancelar</button>
            </div>
          </div>
          
      </div>
    </div>
  </div>