
<div class="modal fade " id="emergentModal" tabindex="-1" aria-labelledby="emergentModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title color-primary" id="exampleModalLabel"> {{ title }} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body" [innerHTML]="description">
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col">
              <button (click)="close()" data-bs-dismiss="modal" type="button" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto">Cerrar</button>
            </div>
          </div>
          
      </div>
    </div>
  </div>