.form-main {
  padding: 5.5rem;
  width: 100vw;
}

.login-container {
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  min-height: 900px;
  max-height: 900px;
}

.box-agree {
  height: 20vh;
  overflow-y: auto;
  border: solid 1px #315191;
  border-radius: 10px;
  padding: 20px;
}

.input-check {
  font-size: 21px;
  width: 20px;
  height: 20px;
}

.auth-background-holder {
  background-size: cover;
  height: 100vh;
  min-height: 100%;
}

.img-home{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-aso-guia {
  width: 100%;
  /* margin-top: 65px; */
}
.logo-fmi-bid{
  width: 250px;
}
.img-person{

  margin-left: 60px;

}

.app-auth-wrapper .app-auth-body{
  width: auto !important;
}

.auth-form-container{
  /* width: 650px;  */
}