<div class="container-fluid">

    <div class="row g-0 app-auth-wrapper">
        <div class="col-md-6 auth-background-col">
            <div class="auth-background-holder">
                <img [src]="img" alt="" class="img-home">
            </div>
            <div class="auth-background-mask"></div>
        </div>
        <div class="col-md-6 order-md-2 order-1 p-4 align-items-center d-flex">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form [formGroup]="formHome">
                        <div class="row text-center">
                            <div class="col">
                                <div class="app-auth-branding mb-4 ">
                                    <a class="app-logo" href="#">
                                        <img class="logo-aso-guia"
                                            src="../../../../assets/images/background/asobanca_guias.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4  text-end">
                                <input class="" formControlName="typeUser" type="radio" name="typeUser" id="publicUser"
                                    value="1">
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <label class="form-check-label" for="publicUser" class=" color-primary">
                                        Público en General
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4 text-end">
                                <input class="" formControlName="typeUser" type="radio" name="typeUser" id="authUser"
                                    value="5">
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <label class="form-check-label" for="authUser" class=" color-primary">
                                        Pertenezco a un Banco Asociado
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5 text-justify box-main">
                            <div class="col">
                                <div class="box-agree">
                                    <p *ngIf="objAgree" [innerHTML]="objAgree.p00_c1">
                                       <!-- {{ objAgree.p00_c1 }} -->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 text-end">
                            <div class="col">
                                <div class="form-check d-flex align-items-center justify-content-center">
                                    <input formControlName="agree" class="input-check" type="checkbox" value="agree"
                                        id="agree" name="agree">
                                    <label class="form-check-label ps-2" for="flexCheckDefault">
                                        <strong class=" color-primary">
                                            Acepto Acuerdo de Uso
                                        </strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 text-center">
                            <div class="col">
                                <button type="submit" (click)="redirSignIn()"
                                    class="btn btn-md app-btn-primary w-30 theme-btn mx-auto" id="btn-login"
                                    name="btn-login">Ingresar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center mt-3">
                    <div class="col-md-8 mx-auto">
                        <img class="logo-fmi-bid" src="../../../../assets/images/background/fmo-bid.png" alt="">
                    </div>
                </div>
                <div class="text-center ">
                    <div class="col-md-8 mx-auto">
                        <small class="copyright" class=" color-primary fs-10 fw-bold">Diseñado por <a class="app-link"
                                class="color-green" href="https://ceer.ec/" target="_blank">CEER</a> Ecuador</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>