<div class="container login-container">
    <form [formGroup]="formSingUp" class="p-3">
        <div class="row text-center">
            <div class="col">
                <div class="app-auth-branding mb-4">
                    <a class="app-logo" href="#">
                        <img class="img-container" src="../../../../assets/images/background/asobanca_guias.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold;">Entidad Financiera:</label>
                  <select id="selectBank" formControlName="bank" #selectElement class="form-select"></select>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold;">Usuario (Correo electrónico institucional):</label>
                <input [readonly]="disableVerifyCode" type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" formControlName="email">
            </div>
        </div>
        <div class="row mt-3 text-center">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button [disabled]="disableButtonSendCode" *ngIf="!showSppinerBtnSendCode" (click)="sendCodeVerification()" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-code" name="btn-code"
                    >Enviar código</button>
                    <div class="spinner-border" role="status" *ngIf="showSppinerBtnSendCode">
                        <span class="visually-hidden">Loading...</span>
                      </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold;">Ingrese el código enviado a su correo:</label>
                <input [readonly]="disableVerifyCode"  maxlength="6" mask="S*" [patterns]="generalNumber" formControlName="code" type="text" class="form-control" id="code" placeholder="Código">
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button [disabled]="disableVerifyCode" (click)="checkCode()" *ngIf="!showSppinerBtnVerifyCode" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-verify" name="btn-verify"
                    >Verificar código</button>
                    <div class="spinner-border" role="status" *ngIf="showSppinerBtnVerifyCode">
                        <span class="visually-hidden">Loading...</span>
                      </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <label for="" style="font-weight: bold;">
                    Nombres y apellidos:
                </label>
            </div>
            <div class="col">
                <input type="text" mask="L*" [patterns]="generalNumber"  formControlName="name" class="form-control" id="name" placeholder="Nombres">
            </div>
            <div class="col">
                <input type="text" mask="L*" [patterns]="generalNumber"  formControlName="lastname" class="form-control" id="lastname" placeholder="Apellidos">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" style="font-weight: bold;">
                    Número celular:
                </label>
            </div>
            <div class="col">
                <input maxlength="10" mask="S*" [patterns]="generalNumber" type="text" formControlName="phoneNumber" class="form-control" id="phone" placeholder="Número celular">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" style="font-weight: bold;">
                    Contraseña:
                </label>
            </div>
            <div class="col">
                <input (blur)="passwordMatchValidator()" type="password" formControlName="password" class="form-control" id="password" placeholder="Contraseña">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" style="font-weight: bold;">
                    Verificar contraseña:
                </label>
            </div>
            <div class="col">
                <input (blur)="passwordMatchValidator()" type="password" formControlName="confirmPassword" class="form-control" id="verifyPassword" placeholder="Verificar contraseña">

            <ng-container *ngIf="msgUnmatched">
                <label class="ng-error">
                    Las contraseñas no coinciden
                </label>
            </ng-container>
            </div>
        </div>
        <!-- <div class="row">
            <div class="errors" *ngIf="formSingUp.get('confirmPassword')?.hasError('mismatch')">
                Las contraseñas no coinciden
              </div>
        </div> -->
        <div class="row" *ngIf="!showSppinerBtnMain">
            <div class="col-md-3"></div>
            <div class="col">
                <button (click)="registerUser()" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-login" name="btn-register"
                    >Registrar</button>
            </div>
            <div class="col">
                <button [routerLink]="['/sign-in']" routerLinkActive="router-link-active"  class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-cancel" name="btn-cancel"
                    >Cancelar</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row text-center" *ngIf="showSppinerBtnMain">
            <div class="col">
                <div class="spinner-border" role="status" >
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
        </div>
    </form>
</div>