.row{
    margin-top: 1rem;
}
.form-sign-up{
    width: 100vh;
}

.login-container {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
}

.img-container {
  max-width: 100%;
  height: auto;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  /* .ng-touched .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  } */
  .alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  label {
    display: block;
    margin-bottom: .5rem;
  }
  select {
    width: 100%;
    padding: .5rem;
  }