<app-header></app-header>
<div class="container main">    
    <div class="rowm text-center pt-5">
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h4 class="mt-5">
                        <strong>
                            Cuestionatio de visita a la empresa
                        </strong>
                    </h4>
                </div>
                <div class="card-body">                    
                        <table class="table table-responsive" id="datpsss">
                            <thead>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let info of catalogQuestion">
                                    <tr>
                                        <td colspan="2" style="text-align: left;">
                                            <strong>{{info.p25_nombre}}</strong>
                                        </td>
                                    </tr>
                                    <ng-container *ngFor="let questions of info.question">
                                        <tr>
                                            <td colspan="2" style="text-align: left;">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox"
                                                        style="border-color: black !important;"
                                                        formControlName="" id="option2"
                                                        value="option2" (change)="checkValue(questions.p02_id,$event.target )">
                                                    <label class="form-check-label"
                                                        for="option2">{{questions.p02_descripcion}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>

                                </ng-container>
                                <tr *ngIf="catalogQuestion && catalogQuestion.length === 0" class="text-center">
                                    <td colspan="2">
                                        No existe información.
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <button (click)="save()" mat-button class="button_color_primary" style="background-color:red">
                            <!-- <mat-icon style="color: white">delete</mat-icon> -->
                          </button>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>