<app-header></app-header>
<div class="container main">
    <div class="row text-center mb-3 mt-5">
        <div class="col text-center">
                <img style="width: 50%;" [src]="img" class="img-container" alt="">
        </div>
    </div>
    <div class="rowm text-center pt-5" style="margin-top: -5%;">
        <div class="col">
            <div class="card">
                <div class="card-title">
                    <h4 class="mt-5">
                        <strong style="color:#2a5291;">
                            Cuestionario de visita a la empresa
                        </strong>
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-responsive" id="datpsss">
                        <thead>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let info of catalogQuestion">
                                <tr>
                                    <td colspan="4" style="text-align: left;">
                                        <strong style="color:#2a5291;">{{info.p25_nombre}}</strong>
                                    </td>
                                </tr>
                                <ng-container *ngFor="let questions of info.question">
                                    <tr>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" style="border-color: black !important;" name="inlineRadioOptions{{questions.p02_id}}"
                                                    id="inlineRadioOptions{{questions.p02_id}}" value="1" (change)="checkValue(questions.p02_id,$event.target )">
                                                <label class="form-check-label" for="inlineRadioOptions{{questions.p02_id}}">Si</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" style="border-color: black !important;" name="inlineRadioOptions{{questions.p02_id}}"
                                                    id="inlineRadioOptions{{questions.p02_id}}" value="0" (change)="checkValue(questions.p02_id,$event.target )">
                                                <label class="form-check-label" for="inlineRadioOptions{{questions.p02_id}}">No</label>
                                            </div>
                                        </td>
                                        <td style="width: 8%;">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" style="border-color: black !important;" name="inlineRadioOptions{{questions.p02_id}}"
                                                    id="inlineRadioOptions{{questions.p02_id}}" value="-1" (change)="checkValue(questions.p02_id,$event.target )">
                                                <label class="form-check-label" for="inlineRadioOptions{{questions.p02_id}}">N/A</label>
                                            </div>
                                        </td>
                                        <td style="text-align: left;">
                                            <div class="form-check form-check-inline">
                                                {{questions.p02_descripcion}}
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>

                            </ng-container>
                            <tr *ngIf="catalogQuestion && catalogQuestion.length === 0" class="text-center">
                                <td colspan="2">
                                    No existe información.
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    
                    <div class="row mt-5 text-center">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-7">
                                <button (click)="save()" mat-button class="btn btn-md app-btn-primary w-50 theme-btn mx-auto">
                                    Generar Reporte
                                </button>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>