<app-header></app-header>
<div class="container main">
    <div class="row text-center mt-4 mb-4">
        <div class="col-2">
            <button class="btn btn-sm color-primary "  (click)="backPage()">
                <i class="fa-solid fa-circle-left"></i> Regresar
            </button>
        </div>
        <div class="col-8">
            <h4  class="color-primary">
                {{titleGuide}}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">
                                <div class="border-bottom-blue">
                                    <p>
                                        PROCESO
                                    </p>
                                </div>
                            </th>
                            <th scope="col" class="text-center" >
                                <div class="border-bottom-orange">
                                    <p>
                                        FACTORES 
                                    </p>
                                    <p>
                                        AMBIENTALES
                                    </p>
                                </div>
                            </th>
                            <th scope="col" class="text-center">
                                <div class="border-bottom-cyan">
                                    <p>FACTORES</p>
                                <p>LABORALES</p>
                                </div>
                            </th>
                            <!-- <th scope="col">FACTORES SOCIAL</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let info of infoReport">
                        <tr>
                            <td class="vertical-align-middle text-center w-30p">
                                <img width="35%" [src]="'https://asobancaadministrativa.com.asobancaguias.com/document/icons/'+info.archivo_icono" alt="">
                                <p class="fw-bold">
                                    {{ info.nombre_proceso}}
                                </p>
                            </td>
                            <td (click)="showModal(info.a_vent_emergente,'FACTORES AMBIENTALES')" class="text-center cursor-pointer ">
                                <p>
                                    <icon-component [icon]="'assets/icons/air.svg'" [backgroundColor]="+info.a_aire?'red':'grey'"></icon-component>
                                    <icon-component [icon]="'assets/icons/floor.svg'" [backgroundColor]="+info.a_suelo?'red':'grey'"></icon-component>
                                    <icon-component [icon]="'assets/icons/waste.svg'" [backgroundColor]="+info.a_desechos?'red':'grey'"></icon-component>
                                    <icon-component [icon]="'assets/icons/energy.svg'" [backgroundColor]="+info.a_energia?'red':'grey'"></icon-component>
                                </p>
                                <p>
                                    <icon-component [icon]="'assets/icons/water.svg'" [backgroundColor]="+info.a_agua?'red':'grey'"></icon-component>
                                    <icon-component [icon]="'assets/icons/chemical.svg'" [backgroundColor]="+info.a_quimicos?'red':'grey'"></icon-component>
                                    <icon-component [icon]="'assets/icons/biodiversity.svg'" [backgroundColor]="+info.a_biodiversidad?'red':'grey'"></icon-component>
                                </p>
                            </td>
                            <td (click)="showModal(info.l_vent_emergente,'FACTORES LABORALES')" class="text-center cursor-pointer ">
                                <p>
                                    <icon-component [icon]="'assets/icons/mechanic.svg'" [backgroundColor]="+info.l_mecanico?'red':'grey'"></icon-component>
                                    <icon-component [icon]="'assets/icons/physic.svg'" [backgroundColor]="+info.l_fisico?'red':'grey'"></icon-component>
                                    <icon-component [icon]="'assets/icons/chemical.svg'" [backgroundColor]="+info.l_quimico?'red':'grey'"></icon-component>
                                </p>   
                               <p>
                                <icon-component [icon]="'assets/icons/biologic.svg'" [backgroundColor]="+info.l_biologico?'red':'grey'"></icon-component>                               
                                <icon-component [icon]="'assets/icons/ergonomic.svg'" [backgroundColor]="+info.l_ergonomico?'red':'grey'"></icon-component>
                                <icon-component [icon]="'assets/icons/psycosocial.svg'" [backgroundColor]="+info.l_psicosocial?'red':'grey'"></icon-component>
                               </p>    
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="infoReport && infoReport.length === 0" class="text-center">
                        <td colspan="4">
                            No existe información.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-modal-fact-env [description]="descriptionSelected" [title]="titleSelected"></app-modal-fact-env>
<app-footer></app-footer>