.main{
    margin-top: 5rem;
}
.block-alert{
    transform: rotate(-90deg);
    text-align: center;
}
.centered-cell {
    height: 100%; /* Ensure the cell takes the full height of the row */
    display: flex;
    align-items: center;
  }
  
  .centered-content {
    /* Additional styling for the centered content, if needed */
    margin: auto;
  }
  .main-td{
    vertical-align: middle;
  }


p{
  padding: 0px;
    margin: 0px;
    font-weight: 100;
}
.vertical-align-middle{
  vertical-align: middle;
}