/*Estilos para el modal*/
.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    width: 100%;   /* Ajusta el ancho del contenido interno del modal */
    height: 100%;  /* Ajusta la altura del contenido interno del modal */
    /* Agrega otros estilos necesarios para el contenido interno aquí */
}

.content_modal_header{
    background-color:#2a5291 !important;
}

.titulo{
    font-size:28pt;
    color:#2a5291;
}

/*-------------View--------------*/
#adddatosModalBtn{
    margin-right:2.5%; 
    margin-top:1%;
}
#adddatosModalBtnParroquia{
    margin-right:2.5%; 
    margin-top:1%;
}
#adddatosModalBtnCanton{
    margin-right:2.5%; 
    margin-top:1%;
}
.fondo_header_table{
    background-color: #2a5291 !important; 
    color: white !important;
}

.button_close{
    background-color:#5d6778;
    color:#ffff;
    border: 2px solid transparent;
}

/*Clase para generar slider*/
.slider-container {
    max-height: 540px;
    overflow-y: auto;
}

.slider-container2 {
    max-height: 570px;
    overflow-y: auto;
}
  