<div class="container-fluid">
    <div class="row color-primary w-100" >
        <i class="fa-solid fa-house" (click)="menu()" style="cursor: pointer; font-size: 26px;"></i>
        <span style="font-size: 10px;">
            HOME
        </span>
    </div>
    <div class="row">
        <div class="col-md-6 order-md-2 order-1 p-4 align-items-center d-flex">
            
            <div class="row">
                <div class="col-md-8 mx-auto">

                    <form [formGroup]="formSignIn" (submit)="signIn()">
                        <div class="row text-center">
                            <div class="col">
                                <div class="app-auth-branding mb-5">
                                    <a class="app-logo" href="#">
                                        <img src="../../../../assets/images/background/asobanca_guias.png" class="logo-aso-guia"
                                            alt="logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 text-center">
                            <div class="col">
                                <h4 class=" color-primary">
                                    Usuario de Banco Asociado
                                </h4>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="email mb-3">
                                    <label class="sr-only" for="signin-email">Usuario</label>
                                    <input id="signin-email" formControlName="email" name="signin-email" type="email"
                                        class="form-control signin-email" placeholder="Correo electrónico" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div class="password mb-3">
                                    <label class="sr-only" for="signin-password">Contraseña</label>
                                    <input id="signin-password" formControlName="password" name="signin-password"
                                        type="password" class="form-control signin-password" placeholder="Contraseña"
                                        required="required">
                                </div>
                            </div>
                        </div>
        
                        <div class="row text-end mt-1">
                            <div class="col">
                                <a [routerLink]="['/recovery-password']">
                                    ¿Olvidó la contraseña?
                                </a>
                            </div>
                        </div>
                        <div class="row mt-5 text-center" *ngIf="showButtons">
                            <div class="col">
                                <button type="submit" class="btn btn-md app-btn-primary w-30 theme-btn mx-auto" id="btn-login"
                                    name="btn-login">Ingresar</button>
                            </div>
                            <!-- <div class="col">
                                <button [routerLink]="['/']" routerLinkActive="router-link-active"
                                    class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-login"
                                    name="btn-login">Cerrar</button>
                            </div> -->
                        </div>
                        <div class="row text-center" *ngIf="!showButtons">
                            <div class="col">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center mt-4">
                            <div class="col color-dark">
                                ¿No eres usuario aún?
                                <a [routerLink]="['/sign-up']" class="color-primary">
                                    Regístrate
                                </a>
                            </div>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-md-2 auth-background-col">
            <img [src]="img" alt="" class="img-login-guias">
        </div>

    </div>


</div>