.form-class{
    width: 100vh;
}


.login-container {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}

.img-login-guias{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.logo-aso-guia {
    width: 100%;
  }

  .signin-email{
   border-color: #315191;
    height: 55px; 
  }
  .signin-password{
    border-color: #315191; 
    height: 55px;
  }

  .form-login{
    width: 740px;
  }