<div class="container login-container">
    <form [formGroup]="formRecoveryPassword" (submit)="recoveryPassword()" class="p-3">
        <div class="row text-center">
            <div class="col">
                <div class="app-auth-branding mb-4">
                    <a class="app-logo" href="#">
                        <img class="img-container" src="../../../../assets/images/background/asobanca_guias.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-3 text-center">
            <div class="col">
                <h4 class="color-primary ">
                    <strong>
                        Recuperación de contraseña
                    </strong>
                </h4>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="" style="font-weight: bold;">
                    Ingrese su correo electrónico:
                </label>
                <br/><br/>
                <input type="email" formControlName="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo electrónico">
            </div>
        </div>
        <br/>
        <div class="row" *ngIf="!showSppiner">
            <div class="col-md-3"></div>
            <div class="col">
                <button type="submit" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-recovery" name="btn-recovery"
                    >Enviar</button>
            </div>
            <div class="col">
                <button [routerLink]="['/sign-in']" routerLinkActive="router-link-active"  class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-cancel" name="btn-cancel"
                    >Cancelar</button>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row text-center"  *ngIf="showSppiner">
            <div class="col">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
        </div>
    </form>
</div>