<app-header></app-header>
<div class="container main">
    <div class="row text-center mb-3 mt-3">
        <div class="col text-center">
                <img style="width: 50%;" [src]="img" class="img-container" alt="">
        </div>
    </div>
    <!--Título-->
    <div class="row text-center">
        <div class="col">
            <br/>
            <h4>
                <strong style="color:#2a5291;">
                    Ingrese la ubicación del Proyecto
                </strong>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form [formGroup]="formSensibility" class="p-5" (submit)="save()" >
                <div class="row mt-3">
                    <div class="col">
                        <label><strong>Selecciona una opción:</strong></label>
                    </div>
                </div>
                <br/>
                <div class="row mt-3">
                    <!--Opción 1: Coordenadas Geográficas-->
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" style="border-color: black !important;" formControlName="opcionSeleccionada" id="option1" value="option1">
                            <label style="padding-left: 2%;font-weight: bold;" class="form-check-label" for="option1">Coordenadas Geográficas</label>
                            <div class="row mt-3" *ngIf="formSensibility.get('opcionSeleccionada')?.value === 'option1'">
                                <!--Campo Latitud-->
                                <div class="col">
                                <div class="latitud">
                                    <label for="latitud" style="color:#2a5291; font-weight: bold;">Latitud (*)</label>
                                    <input formControlName="r01_lat" id="latitud" name="latitud" type="text" class="form-control" placeholder="0.00" required>
                                </div>
                                </div>
                                <!--Campo Longitud-->
                                <div class="col">
                                    <div class="longitud" style="color:#2a5291; font-weight: bold;">
                                    <label for="longitud">Longitud (*)</label>
                                    <input formControlName="r01_lon" id="longitud" name="longitud" type="text" class="form-control" placeholder="0.00" required>
                                    </div>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                    <br/><br/><br/>
                    <!--Opción 2: Ubicación Aproximada-->
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" style="border-color: black !important;"  formControlName="opcionSeleccionada" id="option2" value="option2">
                            <label style="padding-left: 2%;font-weight: bold;" class="form-check-label" for="option2">Ubicación Aproximada</label>
                            <div class="row mt-3" *ngIf="formSensibility.get('opcionSeleccionada')?.value === 'option2'">
                                <div class="col-3"></div>
                                <div class="col">
                                    <!--Campo Provincia-->
                                    <div class="form-group row">
                                        <div class="col-md-4" style="padding-top: 2%;">
                                            <label for="provincia" style="color:#2a5291; font-weight: bold;">Provincia (*)</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" [formControl]="provinciaControl" required>
                                                <option style="font-size: 10pt;" [ngValue]="null" disabled>--Seleccione--</option>
                                                <option style="font-size: 10pt;" *ngFor="let item of provincias" 
                                                    [value]="item.p15_id">{{item?.p15_nombre}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br/>
                                    <!--Campo Cantón-->
                                    <div class="form-group row">
                                        <div class="col-md-4" style="padding-top: 2%;">
                                            <label for="canton" style="color:#2a5291; font-weight: bold;">Cantón (*)</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" [formControl]="cantonControl" required>
                                                <option style="font-size: 10pt;"[ngValue]="null" disabled>--Seleccione--</option>
                                                <option style="font-size: 10pt;" *ngFor="let item of cantones" 
                                                    [value]="item.p15_id">{{item?.p15_nombre}}</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <br/>
                                    <!--Campo Parroquia-->
                                    <div class="form-group row">
                                        <div class="col-md-4" style="padding-top: 2%;">
                                            <label for="parroquia" style="color:#2a5291; font-weight: bold;">Parroquia (*)</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" [formControl]="parroquiaControl" required>
                                                <option style="font-size: 10pt;" [ngValue]="null" disabled>--Seleccione--</option>
                                                <option style="font-size: 10pt;" *ngFor="let item of parroquias" 
                                                    [value]="item.p15_id">{{item?.p15_nombre}}</option>
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/><br/>
                <div class="row mt-3">
                    <!--Generar Informe-->
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-continue" name="btn-continue"
                                >Generar Informe </button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    
                </div>
                
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    
    
</div>
<app-footer></app-footer>
