/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

body {
    font-family: 'Montserrat', sans-serif !important;
  }
.ng-invalid .ng-touched {
    border: solid 1px red;
}
.ng-touched .ng-valid {
    border-color: #e7e9ed !important;
}
.ng-error{
    margin-top: 10px;
    text-align: left;
    font-size: 12px;
    color: red;
}
.select2-container--default .select2-selection--single{
    border: solid 1px #315191 !important;
}
.color-primary{
    color: #315191 !important;
}

.color-dark{
    color: #000;
}
.color-green{
    color:#5cb377
}

.fs-20{
    font-size: 40px;
}
.fs-9{
    font-size: 9px;
}
.fs-10{
    font-size: 10pt;
}
.fw-bold{
    font-weight: bold;
}
.w-30p{
    width: 30%;
}
.w-60p{
    width: 60%;
}
.w-70p{
    width: 70%;
}
.w-90p{
    width: 90%;
}
.h-90px{
    height: 90px;

}
.cursor-pointer{
    cursor: pointer;
}
.border-bottom-blue{
    border-bottom: solid 1px blue;
}
.border-bottom-cyan{
    border-bottom: solid 1px cyan;
}
.border-bottom-orange{
    border-bottom: solid 1px orange;
}
.border-color-black{
    border-color: black !important;
}