<!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title color-primary" id="exampleModalLabel">Cambiar Contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formChangePassword">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Contraseña anterior</label>
                        <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword" aria-describedby="oldPassword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Nueva Contraseña</label>
                        <input type="password"  (blur)="passwordMatchValidator()" formControlName="newPassword" class="form-control" id="newPassword" aria-describedby="newPassword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="password" class="form-label">Confirmar nueva contraseña</label>
                        <input type="password"  (blur)="passwordMatchValidator()" formControlName="confirmPassword" class="form-control" id="confirmPassword" aria-describedby="confirmPassword">
                    </div>
                    <ng-container *ngIf="msgUnmatched">
                        <label class="ng-error">
                            Las contraseñas no coinciden
                        </label>
                    </ng-container>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer" >
          <div class="row">
            <div class="col">
              <button (click)="updatePassword()"  *ngIf="showFooter" type="button" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" >Actualizar</button>
              <div class="spinner-border" role="status" *ngIf="!showFooter">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div class="col">
              <button data-bs-dismiss="modal" type="button" *ngIf="showFooter" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto">Cancelar</button>
            </div>
          </div>
          
      </div>
    </div>
  </div>