<div class="container-fluid login-container">
    <form [formGroup]="formPublic" class="p-5" (submit)="signIn()" >
        <div class="row text-center">
            <div class="col">
                <div class="app-auth-branding mb-4">
                    <a class="app-logo" href="#">
                        <img class="img-container" src="../../../../assets/images/background/asobanca_guias.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3 text-center">
            <div class="col">
                <h4 class="color-primary">
                    Ingrese sus datos
                </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="email ">
                    <label class="sr-only" for="signin-name">Nombres(*)</label>
                    <input mask="L*" [patterns]="generalNumber"  formControlName="name" id="signin-name" name="signin-name" type="text" class="form-control signin-name" placeholder="Nombres" required="required">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="password ">
                    <label class="sr-only" for="signin-password">Apellidos(*)</label>
                    <input mask="L*" [patterns]="generalNumber" formControlName="lastName" id="signin-password" name="signin-password" type="text" class="form-control signin-password" placeholder="Apellidos" required="required">
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="password ">
                    <label class="sr-only" for="signin-mail">Correo electrónico(*)</label>
                    <input formControlName="email" id="signin-mail" name="signin-mail" type="email" class="form-control signin-mail" placeholder="Correo electrónico" required="required">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="password">
                    <label class="sr-only" for="signin-password">Institución (*)</label>
                    <input mask="L*" [patterns]="generalNumber" formControlName="institution" id="signin-password" name="signin-password" type="text" class="form-control signin-password" placeholder="Institución" required="required">
                </div>
            </div>
        </div>
        <div class="row mt-3 text-center" *ngIf="showSppiner">
            <div class="col">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </div>
        </div>
        <div class="row mt-3" *ngIf="!showSppiner">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-continue" name="btn-continue"
                    >Continuar</button>
            </div>
            <div class="col-md-4"></div>
            <!-- <div class="col">
                <button [routerLink]="['/']" class="btn btn-md app-btn-primary w-100 theme-btn mx-auto" id="btn-close" name="btn-close"
                    >Cerrar</button>
            </div> -->
        </div>
    </form>
</div>