<header class="app-header fixed-top">
    
    <div class="app-header-inner">
        <div class="container-fluid py-2">
            <div class="app-header-content">
                <div class="row justify-content-between align-items-center">
                    <div class="col" (click)="menu()" style="cursor: pointer;">
                        <div class="col text-start">
                            <div class="row color-primary w-100 fs-9">
                                <i class="fa-solid fa-house"></i>
                                <span>
                                    HOME
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
                            
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                role="img">
                                <title>Menu</title>
                                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
                                    stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                            </svg> -->
                        </a>
                    </div>
                    <div class="search-mobile-trigger d-sm-none col">
                        <!-- <i class="search-mobile-trigger-icon fa-solid fa-magnifying-glass"></i> -->
                    </div>
                    <!--Header (Usuario)-->
                    <div class="app-utilities col-auto">
                        <div class="app-utility-item app-user-dropdown dropdown">
                            <a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                role="button" aria-expanded="false">
                                <i class="fa-solid fa-circle-user"></i>
                                <span class="nav-link-text" class="fs-10">
                                    {{userName}}
                                </span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
                                <li>
                                    <a style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#updateUserModal" class="dropdown-item" (click)="openModalUpdateInformation()">
                                        Actualizar Datos
                                    </a>
                                </li>
                                <li>
                                    <a style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#changePasswordModal" class="dropdown-item" (click)="openModalChangePassword()">
                                        Cambiar Contraseña
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a style="cursor:pointer;" class="dropdown-item" (click)="logout()">
                                        Cerrar Sesión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<app-user-update [user]="userInfo"></app-user-update>
<app-change-password></app-change-password>