<app-header></app-header>
<div class="container main">
    <div class="row text-center mt-4 mb-4">
        <div class="col-2">
            <button class="btn btn-sm color-primary" (click)="backPage()">
                <i class="fa-solid fa-circle-left"></i> Regresar
            </button>
        </div>
        <div class="col-8">
            <h4 class="color-primary">
                <p class="fw-bold">
                    
                    {{titleGuide}}
                </p>

            </h4>
            <h4 class="color-primary">
                <p class="fw-bold">
                    {{subtitleGuide}}
                </p>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="tags"></th>
                            <th class="text-center" scope="col" *ngIf="dimensionId === 1">
                                <div class="text-center" class="border-bottom-orange">
                                    <p>ASPECTO</p>
                                    <!-- <p>AMBIENTAL</p> -->
                                </div>
                            </th>
                            <th scope="col" class="text-center">
                                <div class="text-center" class="border-bottom-cyan">
                                    <p>RIESGO </p>
                                    <!-- <p>AMBIENTAL</p> -->
                                </div>
                            </th>
                            <th scope="col" class="text-center">
                                <div class="border-bottom-blue">
                                    <p>
                                        MEDIDAS
                                    </p>   
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let info of infoReport">
                        <tr>
                            <td class="main-td text-center" >
                                <!-- <div class="block-alert centered-content" [ngStyle]="{'background-color': (info.impacto==='A'?'red':(info.impacto==='M'?'yellow':'green'))}"> -->
                                    <div [ngStyle]="{
                                        'background-color': (info.impacto==='A'?'red':(info.impacto==='M'?'yellow':'green')), 
                                        'color':(info.impacto==='A'?'white':(info.impacto==='M'?'black':'black'))}" class="block-alert">
                                        <strong>
                                            {{ info.impacto==='A'?'ALTO':(info.impacto==='M')?'MEDIO':'BAJO' | uppercase }}
                                        </strong>
                                    </div>
                                <!-- </div> -->
                            </td>
                            <td class="vertical-align-middle text-center" *ngIf="dimensionId === 1" style="width: 17%;">
                                <img width="75%" [src]="mainUrl+info.ArchivoAspecto" alt="">
                            </td>
                            <td class=" vertical-align-middle text-center" style="width: 17%;">
                                <img width="75%" [src]="mainUrl+info.ArchivoRiesgo" alt="" >
                            </td>
                            <td class="" >
                                <div  [innerHTML]="info.medidas"></div>
                                <!-- <ng-content select="info.medidas"></ng-content> -->
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="infoReport && infoReport.length === 0" class="text-center">
                        <td colspan="4">
                            No existe información.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>