.main{
    margin-top: 5rem;
}
.block-alert{
    transform: rotate(-90deg);
    text-align: center;
    padding: 2px;
    border-radius: 5px;
}
.centered-cell {
    height: 100%; /* Ensure the cell takes the full height of the row */
    display: flex;
    align-items: center;
  }
  
  .centered-content {
    /* Additional styling for the centered content, if needed */
    margin: auto;
  }
  .main-td{
    vertical-align: middle;
  }
  .card{
    border: none !important;
  }

  p{
    padding: 0px;
    margin: 0px;
    font-weight: 100;
  }

.vertical-align-middle{
  vertical-align: middle;
}

.tags{
  max-width: 120px;
    width: 100px;
}

.table{
}